
<form>
	<div class="form-group">
		<label>Company Name:</label> <input type="text" class="form-control"
			id="company-name" ng-model="vm.company">
	</div>
	<div class="form-group">
		<label>Symbol:</label> <input type="text" class="form-control"
			id="symbol"  ng-model="vm.symbol">
	</div>
	<div class="form-group">
		<label>Shares Owned:</label> <input type="text" class="form-control"
			id="shares"  ng-model="vm.shares">
	</div>
	<button type="submit" class="btn btn-default" ng-click="vm.submit()">Submit</button>
</form>